<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Salut et bienvenue chez nous !</h1>
<p>Tu t'es inscrit sur staskme.com en utilisant l'e-mail suivant : <%= @user.email %>.</p>
<p>Continue ta navigation en cliquant sur ce lien : <%= @url %></p>
<p> À tout de suite sur staskme.com !</p>
  </body>
</html>

