<section class="about" id="about">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 align-items-stretch video-box" style="background-image: url('https://i.imgur.com/hQsMQlb.jpg')">
        <a href="https://www.youtube.com/watch?v=WBmo11MbW0E&feature=youtu.be
            NOUVEAU
            " class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

        <div class="content">
            <h3>Réservation <strong>simple et rapide</strong></h3>
            <p> Vous êtes informé sur votre compte du statut de la mission que vous avez réservée.</p>
                
            <ul>
                <li><i class="bx bx-check-double"></i> - Renseignez la mission</li>
                <li><i class="bx bx-check-double"></i> - Identifiez-vous</li>
                <li><i class="bx bx-check-double"></i> - Votre compte n’est débité que si la mission est acceptée</li>
                <li><i class="bx bx-check-double"></i> - Suivez le statut de vos missions sur votre compte client</li>
                </ul>
                <p> Essayez nos services et parlez-en autour de vous ! Vous manquez de temps ? Nous en avons à vous consacrer.</p>              
        </div>

      </div>

    </div>

  </div>
</section>
