<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        Slide One - Set the background image for this slide in the line below
        <div class="carousel-item active" style="background-image: url('http://i.freegifmaker.me/1/6/0/0/2/0/16002084163100929.gif?1600208421')">
          <div class="carousel-caption d-none d-md-block">    
          </div>
        </div>
      </div>
    </div>
</header>