<section id="specials" class="specials">
	<div class="container">

		<div class="row">
			<div class="col-lg-3">
				<ul class="nav nav-tabs flex-column">
					<li class="nav-item">
						<a class="nav-link active show pl-3" data-toggle="tab" href="#tab-1">Nos méthodes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pl-3" data-toggle="tab" href="#tab-2">Contrat de confiance</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pl-3" data-toggle="tab" href="#tab-3">Tarif unique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pl-3" data-toggle="tab" href="#tab-4">Frais de fonctionnement ?</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pl-3" data-toggle="tab" href="#tab-5">Genève Ville ou Canton?</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-9 mt-4 mt-lg-0">
				<div class="tab-content">
					<div class="tab-pane active show" id="tab-1">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Comment fonctionne Staskme ?</h3>
							
								<p>Staskme vous propose des services de conciergerie de luxe à prix accessible. Choisissez un service, indiquez vos besoins et inscrivez-vous. Vous serez débités lorsque la mission sera acceptée.</p>
							</div>
						<div class="col-lg-4 text-center order-1 order-lg-2">
							<img src="assets/img/specials-1.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-2">
					<div class="row">
						<div class="col-lg-8 details order-2 order-lg-1">
							<h3>Puis-je faire confiance aux employés de Staskme ?</h3>
									
							<p>Les collaborateurs de Staskme nous sont pour la plupart envoyés par l’OCE (Office Cantonal de l’emploi) qui procède à un Back-ground check et assure un suivi de la formation interne de ceux-ci. 
										Les candidats qui s’inscrivent spontanément par le biais de la plateforme sont dans un second temps convoqué par les Ressources humaines pour effectuer les procédures de recrutement. Un collaborateur validé a été précédemment validé par les RH.</p>
						</div>
						<div class="col-lg-4 text-center order-1 order-lg-2">
							<img src="assets/img/specials-2.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="tab-3">
					<div class="row">
						<div class="col-lg-8 details order-2 order-lg-1">
							<h3>Pourquoi un prix unique de 100 CHF ?</h3>
							<p>Ce tarif unique permet d’une part de rendre les transactions plus simples et d’autre part d’assurer un salaire TTC respectant la convention collective et cela que la mission/service dure 1h ou 3 heures.</p>
						</div>
						<div class="col-lg-4 text-center order-1 order-lg-2">
							<img src="assets/img/specials-3.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="tab-4">
					<div class="row">
						<div class="col-lg-8 details order-2 order-lg-1">
							<h3>Quels sont les frais ponctionnés par Staskme auprès des collaborateurs ?</h3>
							<p>Staskme ne ponctionne pas de frais sur ceux-ci, les collaborateurs reçoivent le même salaire, que la mission dure 1h ou 3h. Il s’agit non pas d’indépendants mais de personnes engagées entre 40 et 80 %. 
										Staskme utilise un espace de coworking et la gestion des missions est effectuée par un manager à 100%. Les Ressources Humaines sont gérées bénévolement par une association pour le développement économique solidaire en collaboration avec l’OCE. 
										Nous essayons d’accomplir notre but en restreignant les dépenses comme les bureaux fixes ou le personnel administratif au maximum pour nous concentrer sur deux objectifs, offrir aux Genevois un service de qualité et offrir à nos collaborateurs une chance de se réinsérer durablement dans le marché de l’emploi.</p>
						</div>
						<div class="col-lg-4 text-center order-1 order-lg-2">
							<img src="assets/img/specials-4.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				
				<div class="tab-pane" id="tab-5">
					<div class="row">
						<div class="col-lg-8 details order-2 order-lg-1">
							<h3>Est-il possible de réserver un service en dehors de la Ville de Genève ? Peut-on envoyer vos collaborateurs ailleurs sur le Canton ?</h3>
							<p>Pour des raisons d’organisation et d’efficacité, nos services s’effectuent uniquement en Ville de Genève, cela permet à nos collaborateurs de pouvoir effectuer plusieurs missions par jour et nous permet également de maintenir un prix unique de 100 CHF.</p>
						</div>
						<div class="col-lg-4 text-center order-1 order-lg-2">
							<img src="assets/img/specials-5.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
