<%= render 'carousel' %>

<div class="container">

</br>
<h2>Créer une mission dès maintenant !</h2>
<div class="row">
  <% @categories.each do |category| %>
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <%= image_tag category.image, class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title"><%= category.title %></h4>
        </div>
          <div class="card-footer">
            <%= link_to "Créer une mission", new_mission_path, class: 'btn btn-primary' %>
          </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <p>Vous avez le temps ? Vous recherchez un petit travail pour arrondir les fins de mois ?</p>
  </div>
  <div class="col-md-4">
    <a class="btn btn-lg btn-secondary btn-block" href="#">Rejoindre l'équipe</a>
  </div>
</div>

</div>