<section>
<div class="container">
    <h1 class="mt-4 mb-3">Mon dashboard admin</h1>
    <hr>
    </br>
    <div class="row">
      <div class="col-lg-3 mb-4" id="sidebar">
        <div class="list-group">
          <%= link_to "Toutes les missions", admin_root_path, class: "list-group-item", remote: true %>
          <%= link_to "Tous les utilisateurs", users_path, class: "list-group-item", remote: true %>
          <% if current_user %>
            <%= link_to "Mes informations", admin_admin_path(current_user.id), class: "list-group-item", remote: true %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>